*lspost*
*binout*
*checkpoint*
*d3plot*
d3dump*
*.log
.vscode/settings*
*.code-workspace
*sim_sh
*:Zone.Identifiers
lamnode*
fort*
mpich*
adptmp*
bndout*
d3hsp
dyna.inc
elout*
glstat*
ldcrvv
lsrun*
matsum*
messag*
nodout*
rbdout*
sbtout*
runcommand.bat
group_file
disk*
part_des
status.out
mes*
d3*
catalog/_build*